@tailwind base;
@tailwind components;
@tailwind utilities;


input:-internal-autofill-selected {
  border-radius: 8px;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-radius: 8px;
  }